spring:
  datasource:
    url: jdbc:h2:mem:lumos_db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password: 
    driver-class-name: org.h2.Driver
  
  sql:
    init:
      mode: always
      schema-locations: classpath:schema-h2.sql

  jpa:
    hibernate:
      ddl-auto: none # 重要：关闭自动 DDL，使用上面的脚本
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
  
  flyway:
    enabled: false

  data:
    redis:
      host: localhost
      port: 6379
